{% extends 'base/base.html' %}

{% block title %}Dashboard - QR Attendance System{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Dashboard</h4>
            </div>
            <div class="card-body">
                <h5>Welcome, {{ user.get_full_name }}!</h5>
                <p>This is your dashboard. You can access various features from the navigation menu.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
